.star{
    color: yellow;
}
.svg{
    text-align: center;
    width: 95vw;
    display: flex;
    justify-content:center;
    align-items:Center;
    height: 95vh;
}
.paper{
    width: 180px;
    height: 180px;
}
.st0{fill:url(#SVGID_1_);stroke:#000000;stroke-miterlimit:10;}
.st1{fill:#21409A;}
.title{
    color: white;
}
.panel{
    padding-left: 0px;
    margin-left: 10px;
    text-align: left;
}
.button{
    height: 120px;
    width: 120px;
}
body{
    background:url('../svg/bg.svg');
    background-repeat:no-repeat;
    background-size: auto 100vh;
    background-position: center;
}
.copyright{
    bottom: 0px;
    color: white;
    text-align: right;
}
a{
    color: white;
}
html{

}
